*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: cadetblue;
  border-radius: 10px;
}
.card1 {
  background-color: red;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}




.nav {
  background-color: crimson;
  color: white;
  padding: 15px;
  text-align: center;
}